.outer{ 
    height:100vh;
    background : linear-gradient( to top,#c9c9ff 30%,rgb(245, 91, 245) 90%) no-repeat;
} 
.panel-heading{
    text-align: center;
    margin-bottom: 10px;
}  

.btn{
    margin-top: 40px;
    border-radius: 15px;
    background-color: rgb(48, 6, 240);  
    width: 40%;
}
.panel{
    min-height: 80px;
    box-shadow: 20px 20px 80px rgb(218,218,218);
    border-radius: 12px;
    margin-top: 100px; 
} 

.container{
    top: 70%; 
    left:50%;
} 

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  