.bg {
  background: linear-gradient(135deg, rgb(67, 28, 167), lightblue);
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh; /* Allow content to grow beyond viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Ensure body and html allow scrolling */
html, body {
  overflow: auto;
}