/* .outer{ 
    height:100vh;
    background : linear-gradient( to top,#c9c9ff 50%,#6e6ef6 90%) no-repeat;
} 
.panel-heading{
    text-align: center;
    margin-bottom: 10px;
} 

#forget{
    min-width:100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
} 
.form-inline label{
    padding: 10px;
    margin: 0%;
    cursor: pointer;
} 



.panel{
    min-height: 80px;
    box-shadow: 20px 20px 80px rgb(218,218,218);
    border-radius: 12px;
    margin-top: 100px;
}

.input-field{
    border-radius: 5px;
    padding:5px;
    display:flex;
    align-items: center;
    cursor:pointer;
    border: 1px solid #ddd;
    color:#4343ff;
}
.input-field.error{
    border:1px solid red;
    color:red;
} 

input[type='text'],
input[type='password']{
    border:none;
    outline: none;
    box-shadow: none;
    width: 100%;
}

.fa-eye-slah.btn{
    border:none;
    outline:none;
    box-sizing: none;
} 

img{
    width:40px;
    height:40px;
    object-fit:cover;
    border-radius: 50%;
    position:relative;
} 

.container  .panel-body .p-3 .form-group .pt-3  .btn
{
	width: 100%;
	border: 0;
	outline: none;
	background-color: var(--blue);
	background-image: linear-gradient(90deg, var(--blue) 0%, var(--lightblue) 74%);
	border-radius: 20px;
	border: 1px solid var(--blue);
	color: var(--white);
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 4rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}   

 */

 label {
    display: block;
    margin-top: 10px;
  }
  
  .card-container.card {
    max-width: 400px !important;
    padding: 40px 40px;
  }
  
  .card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .btn {
    width: 320px;
    height: 45px;
    background-color: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
  }