<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel heading">
                        <h3 class=" text-center pt-3 font-weight-bold">SignUp</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="SignUpForm">
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <input formControlName="name" type="text" placeholder="Name"> 
                                </div>
                            </div> 
                            <small *ngIf="SignUpForm.controls['name'].dirty && SignUpForm.hasError('required','name')"class="text-danger">*Name is required</small>
                            <div class="form-group pt-3"> 
                                
                                <div class="input-field">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <input formControlName="email" type="text" placeholder="Email">
                                </div>
                            </div>   
                            <small *ngIf="SignUpForm.controls['email'].dirty && SignUpForm.hasError('required','email')"class="text-danger">*Email is required</small>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                    <input formControlName="password" type="text" placeholder="Password"> 
                                    <span (click)="hideShowPass()" class="fa fa-eye-slash " aria-hidden="true"></span>
                                </div>
                            </div> 
                            <small *ngIf="SignUpForm.controls['password'].dirty && SignUpForm.hasError('required','password')"class="text-danger">*Password is required</small>
                            <!-- <div class="form-group pt-3">
                                <div class="input-field">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <input type="text" placeholder="Department">
                                </div>
                            </div>  -->
                            <fieldset class="form-group pt-3">
                                <label>Department</label><br /><br /> 
                                <!--p-dropdown formControlName="department"type="text" placeholder="Department"></p-dropdown-->
                                <select class="input" [(ngModel)]="selectedBranch" [formControl]="userForm.controls.branch">
                                    <option disabled>--Select--</option>
                                    <option *ngFor="let category of Branches" [value]="category">{{category}}</option>
                                </select>
                            </fieldset>
                            <!--div class="form-group pt-3">
                                <div class="input-field">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <input type="text" placeholder="Year">
                                </div>
                            </div-->  
                            <fieldset class="form-group pt-3">
                                <label>Year</label><br /><br />
                                <select class="input" [(ngModel)]="selectedYear" [formControl]="userForm.controls.year">
                                    <option disabled>--Select--</option>
                                    <option *ngFor="let category of Year" [value]="category">{{category}}</option>
                                </select>
                            </fieldset>
                            
                            <!--div class="form-group pt-3">
                                <div class="input-field">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <input type="text" placeholder="Semester">
                                </div>
                            </div--> 
                            <fieldset class="form-group pt-3">
                                <label>Semester</label><br /><br />
                                <select class="input" [(ngModel)]="selectedSemester" [formControl]="userForm.controls.semester">
                                    <option disabled>--Select--</option>
                                    <option *ngFor="let category of Semester" [value]="category">{{category}}</option>
                                </select>
                            </fieldset>
                            <div class="form-inline fr mt-4">
                                <a id="forget" class="font-weight-bold">Forget password?</a>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mt-4 w-100">SignUp</button>
                            <div class="text-center pt-4 text-muted">Already have a account? <a id="forget" routerLink="/login">Login</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

