label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 400px !important;
  padding: 40px 40px;
  top: 210px;
}

.card {
  background-color: rgb(247, 247, 247);
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
  top: 50px;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.btn {
  width: 320px;
  height: 45px;
  background-color: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: white;
  font-weight: 500;
}

.img-responsive {
  display: flex;
  position: absolute;
  height: 150px;
  align-items: center;
  width: 80%;
  left: 90px;
}

.desktop-header {
  display: block; /* Show the desktop header image */
}

.mobile-header {
  display: none; /* Hide the mobile header image by default */
}

h2 {
  text-align: center;
  color: #162938;
  font-size: 2.5em;
  font-weight: 500;
  top: 170px;
  margin-bottom: 10px;
  position: relative; /* Add position: relative to h2 */
}

/* Basic styles for the marquee */


h3 {
  margin: 0; /* Remove default margin from h3 */
}

/* Pulse animation for marquee */


/* Hover effect for marquee */


/* Media query for mobile phones */
@media only screen and (max-width: 600px) {
  .desktop-header {
    display: none; /* Hide the desktop header image for mobile */
  }

  .mobile-header {
    left: 20%;
    transform: translateX(-25%);
    display: flex;
    max-width: 280px;
    top: 20%;
    transform: translateY(-20%);
  }

  h2 {
    top: 267px; /* Adjust the top value for mobile view */
  }
  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px; /* Center the image and add bottom margin */
  }
  .title-box {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f8f9fa; /* Light background */
    border: 2px solid #007bff; /* Border color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    font-size: 1.8em;
    color: #007bff; /* Text color */
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
}
