/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #e0f7fa; /* Softer background color */
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align everything from top */
  align-items: center;
}

/* Marquee Styling */
marquee {
  width: 100%;
  padding: 10px;
  background-color: #b2dfdb; /* Background color for marquee */
  font-size: 1.2em;
  color: #00796b; /* Text color */
}

marquee h3 {
  margin: 0;
  font-weight: bold;
}

/* Header Styling */
header {
  text-align: center;
  margin-bottom: 20px;
}

.desktop-header {
  display: block;
  width: 100%;
  max-width: 100%;
}

.mobile-header {
  display: none;
  width: 100%;
  max-width: 100%;
}

/* Responsive Header for Mobile */
@media only screen and (max-width: 600px) {
  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: block;
  }
}

/* Login Container */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* No Due Management System Heading */
h2 {
  color: #004d40; /* Dark teal */
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* Card container */
.card-container {
  max-width: 400px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #004d40;
  font-size: 2em;
}

/* Profile Image */
.profile-img-card {
  width: 96px;
  height: 96px;
  margin-bottom: 20px;
  border-radius: 50%;
}

/* Form Group Styles */
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  color: #004d40;
  margin-bottom: 5px;
}

input.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #00796b;
}

input.form-control:focus {
  border-color: #004d40;
  outline: none;
}

button.btn {
  width: 100%;
  padding: 10px;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.btn:hover {
  background-color: #004d40;
}

.invalid-feedback {
  color: #d9534f;
  font-size: 0.9em;
}

.alert {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

.alert-success {
  background-color: #d4edda;
  color: #388e3c;
}

.alert-danger {
  background-color: #f8d7da;
  color: #d9534f;
}
