.outer{ 
  height:100vh;
  background-color:aqua; 
} 
.card-heading{
  text-align: center;
  margin-bottom: 10px; 
  text-decoration-color: red;
} 
.btn{
width: 320px;
height: 45px;
background-color: #162938;
border: none;
outline: none;
border-radius: 6px;
cursor: pointer;
font-size: 1em;
color: white;
font-weight: 500; 
} 

.card{
  min-height: 60px; 
  min-width: 50;
  border-radius: 0px;
  margin-top: 100px; 
  
} 

.input-field{
  border-radius: 5px;
  padding:10px;
  display:flex;
  align-items: center;
  cursor:pointer;
  border: 1px solid #ddd;
  color:#4343ff;
}
.input-field.error{
  border:1px solid red;
  color:red;
} 

input[type='text']{
  border:none;
  outline: none;
  box-shadow: none;
  width: 100%;
} 
