<div class="container">
    <div class="container-fluid form">
        <div class="row form-row ">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center"> Reset Password</h5>
                        <form>
                            <div class="form-group pt-3">
                                <div class="input-field ">
                                    <input formControlName="password" type="password" placeholder="New Password">
                                </div>

                                <div class="input-type">
                                    <input formControlName="confirm password" [type]="type"
                                        placeholder="Confirm Password">
                                </div>
                            </div>
                            <button type="submit" (click)="goToPage('login')"
                                class=" btn btn-primary btn-block mt-4 w-100">ResetPassword</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.embeddedChatbotConfig = {
    chatbotId: "PUD-z24jpv1WPR_iRPMPD",
    domain: "www.chatbase.co"
    }
    </script>
    <script
    src="https://www.chatbase.co/embed.min.js"
    chatbotId="PUD-z24jpv1WPR_iRPMPD"
    domain="www.chatbase.co"
    defer>
    </script>