label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 400px !important;
  padding: 40px 40px;
  top: 260px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.btn {
  width: 320px;
  height: 45px;
  background-color: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: white;
  font-weight: 500;
}

/* styles.css */
.img-responsive {
  display: flex;
  position: absolute;
  height: 150px;
  align-items: center;
  width: 80%;
  left: 90px;
}

.desktop-header {
  display: block; /* Show the desktop header image */
}

.mobile-header {
  display: none; /* Hide the mobile header image by default */
}

h2 {
  text-align: center;
  color: #162938;
  font-size: 2.5em;
  font-weight: 500;
  top: 170px;
  margin-bottom: 10px;
  position: relative; /* Add position: relative to h2 */
}

/* Media query for mobile phones */
@media only screen and (max-width: 600px) {
  .desktop-header {
    display: none; /* Hide the desktop header image for mobile */
  }

  .mobile-header {
    left: 20%;
    transform: translateX(-25%);
    display: flex;
    max-width: 280px;
    top: 20%;
    transform: translateY(-20%);
  }

  h2 {
    top: 267px; /* Adjust the top value for mobile view */
  }
}
