<marquee behavior="" direction="">
  <h3>Welcome to Online No Due Management System - KSRIET || This Project is Designed and Developed by G VISHNUDHASAN, A RAGUL, D GEETHAPRIYA and K NANDHINI - Department of CSE (Batch 2021-2025).</h3>
</marquee>
<header>
  <img src="./assets/finalb.jpg" alt="" class="img-responsive desktop-header">
  <img src="./assets/mobile_header.png" alt="" class="img-responsive mobile-header">
</header>
<div class="col-md-12">
  <div class="card card-container">
    <h1 style="text-align: center;">Add Course</h1>
    <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="course_name">Course Name</label>
        <input type="text" class="form-control" name="course_name" [(ngModel)]="form.course_name" required minlength="3"
          maxlength="50" #course_name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && course_name.errors }" />
        <div class="invalid-feedback" *ngIf="course_name.errors && f.submitted">
          <div *ngIf="course_name.errors['required']">Course course_name is required</div>
          <div *ngIf="course_name.errors['minlength']">
            course_name must be at least 3 characters
          </div>
          <div *ngIf="course_name.errors['maxlength']">
            course_name must be at most 50 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="course_code">Course Code</label>
        <input type="text" class="form-control" name="course_code" [(ngModel)]="form.course_code" required minlength="6"
          #course_code="ngModel" [ngClass]="{ 'is-invalid': f.submitted && course_code.errors }" />
        <div class="invalid-feedback" *ngIf="course_code.errors && f.submitted">
          <div *ngIf="course_code.errors['required']">Course Code is required</div>
          <div *ngIf="course_code.errors['minlength']">
            Course Code must be at least 9 characters
          </div>
        </div>
      </div>

      <fieldset class="form-group">
        <label for="department">Department</label>
        <select class="form-control" [(ngModel)]="form.department" #department="ngModel"
          [ngModelOptions]="{standalone: true}" [ngClass]="{ 'is-invalid': f.submitted && department.errors }">
          <option disabled>--Select--</option>
          <option *ngFor="let category of Branches" [value]="category">{{category}}</option>
        </select>
      </fieldset>

      <fieldset class="form-group">
        <label for="year">Year</label>
        <select class="form-control" [(ngModel)]="form.year" #year="ngModel" [ngModelOptions]="{standalone: true}"
          [ngClass]="{ 'is-invalid': f.submitted && year.errors }">
          <option disabled>--Select--</option>
          <option *ngFor="let category of Year" [value]="category">{{category}}</option>
        </select>
      </fieldset>

      <fieldset class="form-group">
        <label for="semester">Semester</label>
        <select class="form-control" [(ngModel)]="form.semester" #semester="ngModel"
          [ngModelOptions]="{standalone: true}" [ngClass]="{ 'is-invalid': f.submitted && semester.errors }">
          <option disabled>--Select--</option>
          <option *ngFor="let category of Semester" [value]="category">{{category}}</option>
        </select>
      </fieldset>

      <fieldset class="form-group">
        <label for="faculty">Handling Faculty</label>
        <select class="form-control" [(ngModel)]="form.faculty" #faculty="ngModel" [ngModelOptions]="{standalone: true}"
          [ngClass]="{ 'is-invalid': f.submitted && faculty.errors }">
          <option disabled>--Select--</option>
          <option *ngFor="let faculty of faculties" [value]="faculty._id">{{faculty.name}}</option>
        </select>
      </fieldset>
      <br>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Add</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
