<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel heading">
                        <h3 class=" text-center pt-3 font-weight-bold">SignUp</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="faculty_signup">
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <input formControlName="name" type="text" placeholder="Name">
                                </div>
                            </div>
                            <small
                                *ngIf="faculty_signup.controls['name'].dirty && faculty_signup.hasError('required','name')"
                                class="text-danger">*Name is required
                            </small>
                            
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <input formControlName="email" type="text" placeholder="Email">
                                </div>
                            </div>
                            <small
                                *ngIf="faculty_signup.controls['email'].dirty && faculty_signup.hasError('required','email')"
                                class="text-danger">*Email is required
                            </small>

                            <fieldset class="form-group pt-3">
                                <label>Department</label><br /><br />
                                <select class="input">
                                    <option disabled>--Select--</option>
                                    <option *ngFor="let category of Branches" [value]="category">{{category}}</option>
                                </select>
                            </fieldset>

                            <fieldset class="form-group pt-3">
                                <label>Desgination</label><br /><br />
                                <select class="input" [(ngModel)]="selectedDesignation"
                                    [formControl]="userForm.controls.designations">
                                    <option disabled>--Select--</option>
                                    <option *ngFor="let category of Designations" [value]="category">{{category}}
                                    </option>
                                </select>
                            </fieldset>

                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                    <input formControlName="password" type="text" placeholder="Password">
                                    <span class="fa fa-eye-slash " aria-hidden="true"></span>
                                </div>
                            </div>
                            <small
                                *ngIf="faculty_signup.controls['password'].dirty && faculty_signup.hasError('required','password')"
                                class="text-danger">*Password is required
                            </small>

                            <button type="submit" class="btn btn-primary btn-block mt-4 w-100">SignUp</button>
                            <div class="text-center pt-4 text-muted">Already have a account? <a id="forget"
                                    routerLink="/login">Login</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>