<nav class="navbar">
  <div class="navbar-brand">
    Faculty Dashboard
  </div>
  <div class="navbar-items">
    Welcome {{ name }}
    <div class="logout">
      <button (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
<h2>Faculty Board</h2>

<table>
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Register Number</th>
      <th>Course Name</th>
      <th>Course Code</th>
      <th>Actions</th>
      <th>Remarks</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let request of pendingRequests">
      <tr (click)="onSelect(request)">
        <td>{{ request.studentId.name }}</td>
        <td>{{ request.studentId.regno }}</td>
        <td>{{ request.courseId.course_name }}</td>
        <td>{{ request.courseId.course_code }}</td>
        <td>
          <button class="approve-button" (click)="approveRequest(request)">Approve</button>
          <button class="reject-button" (click)="rejectRequest(request)">Reject</button>
        </td>
        <!-- <td>
          <input type="text" placeholder="Enter Your Remarks"/>
        </td> -->
        <!-- <form name="form" #f="ngForm"> -->
        <td>
          <input type="text" name="message" placeholder="Enter Your Remarks" [(ngModel)]="form.message" />
        </td>
        <!-- </form> -->
      </tr>
      <tr *ngIf="selectedRequest === request">
        <td colspan="5">
          <div class="details">
            <h3>Student Details</h3>
            <p>Name: {{ request.studentId.name }}</p>
            <p>Register Number: {{ request.studentId.regno }}</p>
            <p>Department: {{ request.studentId.department }}</p>
            <p>Year: {{ request.studentId.year }}</p>
            <p>Semester: {{ request.studentId.semester }}</p>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<script>
  window.embeddedChatbotConfig = {
  chatbotId: "PUD-z24jpv1WPR_iRPMPD",
  domain: "www.chatbase.co"
  }
  </script>
  <script
  src="https://www.chatbase.co/embed.min.js"
  chatbotId="PUD-z24jpv1WPR_iRPMPD"
  domain="www.chatbase.co"
  defer>
  </script>