<nav class="navbar">
    <div class="navbar-logo">
        <a routerLink="/">No-Due Management System</a>
    </div>
    <ul class="navbar-links">
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/requests">Requests</a></li>
        <li><a routerLink="/profile">Profile</a></li>
        <li><a routerLink="/logout">Login</a></li>
    </ul>
    <div class="navbar-toggle" (click)="toggleNavbar()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>

<script>
    window.embeddedChatbotConfig = {
    chatbotId: "PUD-z24jpv1WPR_iRPMPD",
    domain: "www.chatbase.co"
    }
    </script>
    <script
    src="https://www.chatbase.co/embed.min.js"
    chatbotId="PUD-z24jpv1WPR_iRPMPD"
    domain="www.chatbase.co"
    defer>
    </script>