* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #008080, #20c997); /* Teal gradient */
    padding: 1rem 2rem;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar:hover {
    background: linear-gradient(90deg, #006666, #009A8D);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.navbar-logo a {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: 'Eczar', serif;
}

.navbar-logo a:hover {
    color: #FFD700;
}

.navbar-links {
    display: flex;
    list-style: none;
}

.navbar-links li {
    margin-left: 2.5rem;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Eczar', serif;
}

.navbar-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFD700; 
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s ease;
}

@media screen and (max-width: 768px) {
    .navbar-links {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        flex-direction: column;
        background-color: #4A90E2;
        justify-content: center;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        display: none;
    }

    .navbar-links.active {
        display: flex;
        transform: translateX(0%);
    }

    .navbar-links li {
        margin: 1.5rem 0;
    }

    .navbar-toggle {
        display: flex;
    }
}
